*{
    margin: 0px;
    padding: 0px;
}
.grid-container{
    background-color: #34495e;
    color: #fff;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;
border-radius: 10px;


}

.cell{
 border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.congrats{
    width: 100%;
    margin-top: 400px;
    padding: 20px;
    position: fixed;
    color: black;
    text-align: center;
}
button{
position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
    margin-top: 500px;
}
button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}
